

<div class="container row">
    <div class="col-md-4" *ngFor="let book of books;let i=index">
        <div class="card card-block">
            <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                <div class="hs-wrapper hs-wrapper1">
                      <img  src="assets/images/bn1.jpg" alt=" " class="img-responsive" />
                      <img  src="assets/images/b2.jpg" alt=" " class="img-responsive" />
                    </div>
               
            <!-- <img class="custom-image-style" src="assets/images/captain.jpg" height="300" width="200" style="margin-left: 60px;
          margin-top: 10px"> -->
            <div class="book-desc-container row" style=" margin-top: -70px">
                    <p style="margin-left: -15px"><strong>{{book.name}} and {{book.product_id}}: ${{book.price}}</strong></p>
                    <p style="margin-left: -15px">{{book.author}}</p>
                <div class="offset-md-4 col-md-4">
                    <button class="btn btn-primary btn-sm" style="margin-left: 125px" (click)="addToCart(book.product_id, book.price)"
                        [disabled]="book.isAdded===true">Add To Cart</button>
                </div>
            </div>

        </div>
</div> 

<!-- 
<div class="container row">
 <div class="col-md-4" *ngFor="let book of books;let i=index">

  <div class="col-md-3 agileinfo_new_products_grid">
    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
      <div class="hs-wrapper hs-wrapper1">
            <img  src="assets/images/bn1.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/b2.jpg" alt=" " class="img-responsive" />
        
        
        <div class="book-desc-container row">
            <div>
                <p style="margin-left: 60px"><strong>{{book.name}}: ${{book.price}}</strong></p>
                <p style="margin-left: 60px">{{book.author}}</p>
            </div>
            <div class="offset-md-4 col-md-4">
                <button class="btn btn-primary btn-sm" style="margin-left: 60px" (click)="addToCart(book.id, book.price)"
                    [disabled]="book.isAdded===true">Add To Cart</button>
            </div>
        </div>
        </div>
      </div>
     </div>
    </div>
    </div> -->


