<div class="banner">
  <div class="container">
    <h3>BookStore, <span>Special Offers</span></h3>
  </div>
</div>
<!-- //banner --> 
<!-- banner-bottom -->
<div class="banner-bottom">
  <div class="container">
    <div class="col-md-3 w3agile_special_deals_grid_right">
     
      <div class="col-md-3 w3agile_special_deals_grid_right"> 
        <iframe width="1000" height="425" margin-right="10px" src="https://www.youtube.com/embed/SKVcQnyEIT8" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
      </div> 
        <!-- pop-up-box -->     
        <script src="assets/js/jquery.magnific-popup.js" type="text/javascript"></script>
        <!--//pop-up-box -->
        <script>
          $(document).ready(function() {
          $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
          });
                                          
          });
        </script>
    </div>
    <div>
    </div>


    <!-- <div class="col-md-7 wthree_banner_bottom_right">
      <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li *ngFor="let category of categoryList" role="presentation" >
            <a (click)="getProductsByCategory(category)" href="javascript:void(0)" id="home-tab" role="tab" data-toggle="tab" aria-controls="home">{{category.name}}</a>
          </li>
        </ul>

        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
            <div   class="agile_ecommerce_tabs">
              <div  *ngFor="let book of productsList" class="col-md-4 agile_ecommerce_tab_left">
                <div class="hs-wrapper">
                  <img  src="assets/images/3.jpg" alt=" " class="img-responsive" />
                  <img  src="assets/images/4.jpg" alt=" " class="img-responsive" />
                  <img  src="assets/images/5.jpg" alt=" " class="img-responsive" />
                  <img  src="assets/images/6.jpg" alt=" " class="img-responsive" />
                  <img  src="assets/images/7.jpg" alt=" " class="img-responsive" />
                  <img  src="assets/images/3.jpg" alt=" " class="img-responsive" />
                  <img  src="assets/images/4.jpg" alt=" " class="img-responsive" />
                  <img  src="assets/images/5.jpg" alt=" " class="img-responsive" />
                  <div class="w3_hs_bottom">
                    <ul>
                      <li>
                        <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                      </li>
                    </ul>
                  </div>
                </div> 
                <h5><a href="single.html">{{book.name}}</a></h5>
                <div class="simpleCart_shelfItem">
                  <p>
                    <span>{{book.price}}</span> <i class="item_price">{{book.price}}</i>
                  </p>
                    <button (click)="addToCart(book.id, book.price)" type="submit" class="w3ls-cart">Add to cart</button>
                </div>
              </div>
              <div class="clearfix"> </div>
            </div>            
          </div>
  
          
              </div>
              
              <div class="clearfix"> </div>
            </div>
          </div>
         
        </div>
      <!-- </div> 
    </div>
    <div class="clearfix"> </div> -->
</div> -->


<!-- //modal-video -->
<!-- banner-bottom1 -->
<div class="banner-bottom1">
  <div class="agileinfo_banner_bottom1_grids">
    <div class="col-md-7 agileinfo_banner_bottom1_grid_left">
      <h3>Grand Opening Event With <span>20% <i>Discount</i></span></h3>
      <a href="products.html">Shop Now</a>
    </div>
    <div class="col-md-5 agileinfo_banner_bottom1_grid_right">
      <h4>hot deal</h4>
      <div class="timer_wrap">
        <div id="counter"> </div>
      </div>
      <script src="assets/js/jquery.countdown.js"></script>
      <script src="assets/js/script.js"></script>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>




<!-- //banner-bottom1 --> 
<!-- special-deals -->
<div class="special-deals">
  <div class="container">
    <h2>Special Deals</h2>
    <div class="w3agile_special_deals_grids">
      <div class="col-md-7 w3agile_special_deals_grid_left">
        <div class="w3agile_special_deals_grid_left_grid">
          <img  src="assets/images/21.jpg" alt=" " class="img-responsive" />
          <div class="w3agile_special_deals_grid_left_grid_pos1">
            <h5>30%<span>Off/-</span></h5>
          </div>
          <div class="w3agile_special_deals_grid_left_grid_pos">
            <h4>We Offer <span>Best Books</span></h4>
          </div>
        </div>
    
          <script src="assets/js/jquery.wmuSlider.js"></script> 
          <script>
            $('.example1').wmuSlider();         
          </script> 
      </div>
      <div class="col-md-5 w3agile_special_deals_grid_right">
        <img  src="assets/images/20.jpg" alt=" " class="img-responsive" />
        <div class="w3agile_special_deals_grid_right_pos">
          <h4>Book's <span>Special</span></h4>
          <h5>save up <span>to</span> 30%</h5>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //special-deals -->
<!-- new-products -->
<div class="new-products">
  <div class="container">
    <h3>New Books</h3>
    <div class="agileinfo_new_products_grids">
      <div class="col-md-3 agileinfo_new_products_grid">
        <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
          <div class="hs-wrapper hs-wrapper1">
            <img  src="assets/images/captain.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/cap1.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/cap2.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/cap3.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/cap4.jpg" alt=" " class="img-responsive" /> 
            <div class="w3_hs_bottom w3_hs_bottom_sub">
              <ul>
                <li>
                  <a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <h5><a href="single.html">Captain Underpants</a></h5>
          <div class="simpleCart_shelfItem">
            <p><span>$10.50</span> <i class="item_price">$9.95</i></p>
            <form action="#" method="post">
              <input type="hidden" name="cmd" value="_cart">
              <input type="hidden" name="add" value="1"> 
              <input type="hidden" name="w3ls_item" value="Captain Underpants"> 
              <input type="hidden" name="amount" value="9.95">   
              <button type="submit" class="w3ls-cart" [routerLink]="['/book','1']">Add to cart</button>
      
            </form>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 agileinfo_new_products_grid">
        <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
          <div class="hs-wrapper hs-wrapper1">
            <img  src="assets/images/game.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/gm1.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/gm2.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/gm3.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/gm4.jpg" alt=" " class="img-responsive" /> 
            <div class="w3_hs_bottom w3_hs_bottom_sub">
              <ul>
                <li>
                  <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <h5><a href="single.html">Game Master</a></h5>
          <div class="simpleCart_shelfItem">
            <p><span>$12.99</span> <i class="item_price">$10.99</i></p>
            <form action="#" method="post">
              <input type="hidden" name="cmd" value="_cart">
              <input type="hidden" name="add" value="1"> 
              <input type="hidden" name="w3ls_item" value="Game Master"> 
              <input type="hidden" name="amount" value="10.99">   
              <button type="submit" class="w3ls-cart" [routerLink]="['/book','3']">Add to cart</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3 agileinfo_new_products_grid">
        <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
          <div class="hs-wrapper hs-wrapper1">
            <img  src="assets/images/34.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/33.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/36.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/35.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/36.jpg" alt=" " class="img-responsive" /> 
            <div class="w3_hs_bottom w3_hs_bottom_sub">
              <ul>
                <li>
                  <a href="#" data-toggle="modal" data-target="#myModal5"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <h5><a href="single.html">Caste</a></h5>
          <div class="simpleCart_shelfItem">
            <p><span>$55.00</span> <i class="item_price">$42.00</i></p>
            <form action="#" method="post">
              <input type="hidden" name="cmd" value="_cart">
              <input type="hidden" name="add" value="1"> 
              <input type="hidden" name="w3ls_item" value="Caste"> 
              <input type="hidden" name="amount" value="42.00">   
              <button type="submit" class="w3ls-cart" [routerLink]="['/book','2']">Add to cart</button>
            </form>
          </div>  
        </div>
      </div>
      <div class="col-md-3 agileinfo_new_products_grid">
        <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
          <div class="hs-wrapper hs-wrapper1">
            <img  src="assets/images/25.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/23.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/24.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/22.jpg" alt=" " class="img-responsive" />
            <img  src="assets/images/26.jpg" alt=" " class="img-responsive" /> 
            <div class="w3_hs_bottom w3_hs_bottom_sub">
              <ul>
                <li>
                  <a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <h5><a href="single.html">Crossroads</a></h5>
          <div class="simpleCart_shelfItem" > 
            <p><span>$30</span> <i class="item_price">$25</i></p>
            <form action="#" method="post">
              <input type="hidden" name="cmd" value="_cart">
              <input type="hidden" name="add" value="id" id="1"> 
              <input type="hidden" name="w3ls_item" value="Croosroads"> 
              <input type="hidden" name="amount" value="10.99" price="10.99">  
              <!-- <input type="hidden" name={{book.id}} value={{1}} book.id={{1}} book.price={25}> 
              <input type="hidden" name="name" value={{Crossroads}}> 
              <input type="hidden" name={{book.price}} value={{25}}>    -->
              <!-- <button class="w3ls-cart" (click)="addToCart(book.id, book.price)" [disabled]="book.isAdded===true">Add to cart</button> -->
              <button class="w3ls-cart" [routerLink]="['/book','6']">Add to cart</button> 
              <!-- <button class="w3ls-cart" (click)="addToCart(book.id, book.price)"  [book.id]='1' [book.price]='10.99'>Add to cart</button>  -->
            </form>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //new-products -->
<!-- top-brands -->
<div class="top-brands">
  <div class="container">
    <h3>The best BookStore in Town!</h3>
      <div class="row">
        <div class="col-sm-4" style="margin-right: 50px;"> 
          <img src=  "assets/images/nice.jpg">
        </div> 
        <div class="col-sm-4" style="margin-left: 150px;"> 
          <img src=  "assets/images/2-1.jpg">
        </div>      
      </div>
  
  
    <br><br>
</div>
<!-- //top-brands --> 
<!-- newsletter -->
<div class="newsletter">
  <div class="container">
    <div class="col-md-6 w3agile_newsletter_left">
      <h3>Newsletter</h3>
      <p>Subscribe to our newsletter and be update about promotions an new arrivals.</p>
    </div>
    <div class="col-md-6 w3agile_newsletter_right">
      <form action="#" method="post">
        <input type="email" name="Email" placeholder="Email" required="">
        <input type="submit" value="" />
      </form>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //newsletter -->
<div class="col-md-7 wthree_banner_bottom_right">
  <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
      <li *ngFor="let category of categoryList" role="presentation" >
        <a (click)="getProductsByCateogy(category)" href="javascript:void(0)" id="home-tab" role="tab" data-toggle="tab" aria-controls="home">{{category.name}}</a>
      </li>
    </ul>

    <!-- <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
        <div   class="agile_ecommerce_tabs">
          <div  *ngFor="let data of productsList" class="col-md-4 agile_ecommerce_tab_left">
            <div class="hs-wrapper">
              <img  src="assets/images/3.jpg" alt=" " class="img-responsive" />
              <img  src="assets/images/4.jpg" alt=" " class="img-responsive" />
              <img  src="assets/images/5.jpg" alt=" " class="img-responsive" />
              <img  src="assets/images/6.jpg" alt=" " class="img-responsive" />
              <img  src="assets/images/7.jpg" alt=" " class="img-responsive" />
              <img  src="assets/images/3.jpg" alt=" " class="img-responsive" />
              <img  src="assets/images/4.jpg" alt=" " class="img-responsive" />
              <img  src="assets/images/5.jpg" alt=" " class="img-responsive" />
              <div class="w3_hs_bottom">
                <ul>
                  <li>
                    <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                  </li>
                </ul>
              </div>
            </div> 
            <h5><a href="single.html">{{book.name}}</a></h5>
            <div class="simpleCart_shelfItem">
              <p>
                <span>{{book.price}}</span> <i class="item_price">{{book.author}}</i>
              </p>
                <button (click)="addCart(data)" type="submit" class="w3ls-cart">Add to cart</button>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>            
      </div> -->


<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="w3_footer_grids">
      <div class="col-md-3 w3_footer_grid">
        <h3>Contact</h3>
        <p>Visit our location.</p>
        <ul class="address">
          <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>123 Noplace Road, unit 4, <span>Toronto.</span></li>
          <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@bookstore.com</a></li>
          <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 8999</li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Information</h3>
        <ul class="info"> 
          <li><a href="about.html">About Us</a></li>
          <li><a href="mail.html">Contact Us</a></li>
          <li><a href="codes.html">Social Media</a></li>
          <li><a href="faq.html">FAQ's</a></li>
          <li><a href="products.html">Special Products</a></li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Category</h3>
        <ul class="info"> 
          <li><a href="products.html">Kids</a></li>
          <li><a href="products1.html">Romance</a></li>
          <li><a href="products.html">Fiction</a></li>
          <li><a href="products1.html">Cooking</a></li>
          <li><a href="products2.html">Health</a></li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Profile</h3>
        <ul class="info"> 
          <li><a href="index.html">Home</a></li>
          <li><a href="products.html">Today's Deals</a></li>
        </ul>
        <h4>Follow Us</h4>
        <div class="agileits_social_button">
          <ul>
            <li><a href="#" class="facebook"> </a></li>
            <li><a href="#" class="twitter"> </a></li>
            <li><a href="#" class="google"> </a></li>
            <li><a href="#" class="pinterest"> </a></li>
          </ul>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="footer-copy">
    <div class="footer-copy1">
      <div class="footer-copy-pos">
        <a href="#home1" class="scroll"><img  src="assets/images/arrow.png" alt=" " class="img-responsive" /></a>
      </div>
    </div>
    <div class="container">
      <p>&copy; 2021 BookStore. All rights reserved | Design by <a href="http://revature.com/">Revature | Group 4</a></p>
    </div>
  </div>
</div>
<!-- //footer --> 
<!-- cart-js -->
<script src="assets/js/minicart.js"></script>
<script>
      w3ls.render();

      w3ls.cart.on('w3sb_checkout', function (evt) {
        var items, len, i;

        if (this.subtotal() > 0) {
          items = this.items();

          for (i = 0, len = items.length; i < len; i++) { 
          }
        }
      });
  </script>  